{% extends "_base.html" %}
{% block content %}
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title" style="margin-top: 100px; margin-bottom: 50px;">
          <h2
            style="
              font-family: 'Montserrat';
              font-weight: normal;
              font-style: normal;
            "
          >
            Stories
          </h2>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      {% for story in stories %}
      <div class="col-lg-4 col-md-6">
        <div
          class="feature_item"
          style="
            box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
            background: #fff;
          "
        >
          <p class="font-weight-bold">{{story.published_date|date:"l, d M Y"}}</p>
          <h4
            class="mt-3"
            style="
              font-family: 'Montserrat';
              font-weight: normal;
              font-style: normal;
            "
          >
          {{story.title}}
          </h4>
          <p style="text-align: justify;">
            {{story.content|striptags|slice:":50"}}
          </p>
          <br />

          <a href={% url "story-detail" story.slug %}>
            <button
              type="submit"
              class="btn btn-primary"
            >
              Read More
            </button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}